<?xml version="1.0" encoding="UTF-8" ?>

<!-- scan="true"로 설정하면 파일 변경시 자동 재로딩 -->
<configuration scan="false" scanPeriod="2 seconds">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- 사용할 class를 미리 import -->
    <import class="org.springframework.boot.logging.logback.ColorConverter"/>
    <import class="ch.qos.logback.core.ConsoleAppender"/>
    <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
    <import class="ch.qos.logback.core.rolling.RollingFileAppender"/>
    <import class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy"/>
    <import class="ch.qos.logback.classic.filter.LevelFilter"/>


    <!-- 색상 출력을 위해 Spring Boot가 제공하는 ColorConverter 사용 -->
    <conversionRule conversionWord="clr" converterClass="ColorConverter"/>


    <!-- 프로파일별 설정: 예를 들어 로컬과 개발 환경에 따라 로그 저장 경로를 다르게 지정 -->
    <springProperty scope="context" name="LOG_FILE_ROOT_PATH" source="logback.path.root"/>

    <!-- 로그 파일 이름 및 패턴 설정 -->
    <property name="LOG_FILE_NAME" value="application"/>
    <property name="ERR_LOG_FILE_NAME" value="error"/>
    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS, ${logback.timezone:-UTC}}){blue} [%thread] %clr(%-5level) %cyan(%logger{36}) - %msg%n"/>
    <property name="FILE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS, ${logback.timezone:-UTC}} trace_id=%X{trace_id} span_id=%X{span_id} trace_flags=%X{trace_flags} | [%thread] %-5level %logger{36} - %msg%n"/>

    <appender name="CONSOLE-OTEL" class="io.opentelemetry.instrumentation.logback.mdc.v1_0.OpenTelemetryAppender">
        <appender-ref ref="CONSOLE"/>
    </appender>


    <!--  =============== spring profile 별 로깅 전략 세팅 ===============  -->
    <springProfile name="test">
        <include resource="console-appender.xml"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>

        <logger level="DEBUG" name="org.hibernate.SQL" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
    </springProfile>

    <springProfile name="local-mem">
        <include resource="console-appender.xml"/>

        <property name="LOG_PATH" value="${LOG_FILE_ROOT_PATH}/local-mem"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>

        <logger name="com.whatever" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>

        <logger name="com.whatever.domain.auth.client" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>

        <logger level="DEBUG" name="org.hibernate.SQL" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>

        <logger level="TRACE" name="org.hibernate.type.descriptor.sql.BasicBinder" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
    </springProfile>


    <springProfile name="dev">
        <include resource="file-appender-info.xml"/>

        <property name="LOG_PATH" value="${LOG_FILE_ROOT_PATH}/dev"/>

        <root level="INFO">
            <appender-ref ref="FILE-INFO-OTEL"/>
        </root>

        <logger name="com.whatever" level="DEBUG" additivity="false">
            <appender-ref ref="FILE-INFO-OTEL"/>
        </logger>

        <logger name="com.whatever.domain.auth.client" level="DEBUG" additivity="false">
            <appender-ref ref="FILE-INFO-OTEL"/>
        </logger>

        <logger level="DEBUG" name="org.hibernate.SQL" additivity="false">
            <appender-ref ref="FILE-INFO-OTEL"/>
        </logger>

        <logger level="TRACE" name="org.hibernate.type.descriptor.sql.BasicBinder" additivity="false">
            <appender-ref ref="FILE-INFO-OTEL"/>
        </logger>
    </springProfile>


    <springProfile name="production">
        <include resource="file-appender-error.xml"/>

        <property name="LOG_PATH" value="${LOG_FILE_ROOT_PATH}/production"/>

        <root level="ERROR">
            <appender-ref ref="FILE-ERROR-OTEL"/>
        </root>

        <logger name="com.whatever" level="DEBUG" additivity="false">
            <appender-ref ref="FILE-INFO-OTEL"/>
        </logger>
    </springProfile>

</configuration>
